/* Bare bones style css, using a white, grey and blue color theme */

element {
    --base-font-family: 'Noto Sans', serif;
    --base-font-size:   15px;
    --base-font-weight: 400;
    --small-font-size:  var(--base-font-size) * 0.875;
    --base-line-height: 1.5;

    --spacing-unit:     30px;

    --text-color:       #111;
    --background-color: #fdfdfd;
    --brand-color:      #2a7ae2;

    --grey-color:       #828282;
    --grey-color-light: lighten(var(--grey-color), 40%);
    --grey-color-dark:  darken(var(--grey-color), 25%);

    --content-width:    800px;

    --on-palm:          600px;
    --on-laptop:        800px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font: var(--base-font-weight) var(--base-font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    padding: 2rem; 
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
vertical-rhythm {
    margin-bottom: var(--spacing-unit) / 2;
}

img {
    margin: 1rem;
    width: auto;
    height: auto;
}

.img-thumb {
    width: 30%;
    height: auto;
    max-width: 512px;
    max-height: auto;
}

.img-gallery {
    width: 50%;
    height: 50%;
}

.img-icon {
    width: 32px;
    height: 32px;
}

.grid-menu {
    display: flex;
    flex-basis: inherit;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5%;
}

ul, ol {
    margin-left: var(--spacing-unit);
    color: #666;
    letter-spacing: 1px;
}

ul {
    list-style-type: square;
}

h1 {
    font-size: 20px;
    color: #024;
}

h2 {
    font-size: 18px;
    color: #123;
}

h3 {
    font-size: 16px;
    color: #222;
}

h4 {
    font-size: 16px;
    color: #357;
}

h5 {
    font-size: 16px;
    color: #456;
}

h6 {
    font-size: 14px;
    color: #555;
}

a {
    color: #20b0b0;
    text-decoration: none;
    transition: border .5s;
    width: inherit;
    height: inherit;
    margin: inherit;
}

a:hover {
    border-bottom: 2px dotted #000;
}

.post-content h2:before {
    content: "¶ ";
    margin-right: 20px;
    color: #20b0b0;
}

.link {
    padding: 2px;
    color: #20b0b0;
    text-decoration: none;
    transition: var(--background-color) .7s;
}

.link:hover {
    color: #50e0e0;
    border: none;
}

blockquote {
    border-left: 5px solid #eee;
    margin-left: 30px;
    padding: 5px 15px;
    color: #888888;
}

hr {
    border: none;
    height: 1px;
    margin: 40px auto;
    background: #dcdcdc;
    width: 100%;
}

pre,
code {
    font-size: 15px;
    border: 1px solid #f8f8f8;
    border-radius: 3px;
    background-color: #f8f8f8;
    color: #27badf;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
}

table, th {
    width: 100%;
    table-layout: fixed;
    margin: 24px;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    line-height: 25px;
    letter-spacing: 1px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing-unit);
    padding-left: var(--spacing-unit);
}