---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import ContentList from '../../components/ContentList.astro';
import { sortPostsByDate } from '../../utils/post';

// Get all blog posts sorted by date
const posts = await getCollection('blog');
console.log('Blog posts found:', posts.length); // Debug log
const sortedPosts = sortPostsByDate(posts);
---

<Layout title="Blog | tehj.io">
  <main class="page-content">
    <h1 class="page-title">Blog</h1>
    <ContentList items={sortedPosts} collection="blog" />
  </main>
</Layout>
