<footer class="site-footer">

    <div class="container">

        <center>

            <p>
                <a class="link" href="http://git.tehj.org">Github</a> /
                <a class="link" href="http://linkedin.com/in/julwrites">Linkedin</a> /
                <a class="link" href="mailto:contact@tehj.org">Contact</a>
                <!-- <img class="footer-link" src="/files/images/github.png" href="http://git.tehj.org" alt="Github"> /
                <img class="footer-link" src="/files/images/linkedin.png" href="http://linkedin.com/in/julwrites" alt="Linkedin"> /
                <img class="footer-link" src="/files/images/email.png" href="mailto:contact@tehj.org" alt="Contact"> -->
            </p>

            <br>
            <br>

            <span>
                <script>document.write(new Date().getFullYear());</script>
            </span>
            <span>&copy;</span>

            <a class="link" href="{{ site.baseurl }}">{{ site.name }}</a>

            <br>

        </center>

    </div>

</footer>