<footer class="site-footer">

    <div>

        <center>

            <p>
                <img class="img-icon" src="/files/images/github.png" alt="Github">
                <a class="link" href="http://git.tehj.org"></a>
                </img>
                <img class="img-icon" src="/files/images/linkedin.png" alt="Linkedin">
                <a class="link" href="http://job.tehj.org"></a>
                </img>
                <img class="img-icon" src="/files/images/email.png" alt="Contact">
                <a class="link" href="mailto:contact@tehj.org"></a>
                </img>
            </p>

            <br>

            <span>
                <script>document.write(new Date().getFullYear());</script>
            </span>
            <span>&copy;</span>

            <a class="link" href="{{ site.baseurl }}">{{ site.name }}</a>

        </center>

    </div>

</footer>