<html>

<head>
    <script type="text/javascript">
        function httpGet(url, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", url, true); // true for asynchronous 
            xmlHttp.send(null);
        }

        function save(filename, data) {
            var blob = new Blob([data], { type: 'text/csv' });
            if (window.navigator.msSaveOrOpenBlob) {
                window.navigator.msSaveBlob(blob, filename);
            }
            else {
                var elem = window.document.createElement('a');
                elem.href = window.URL.createObjectURL(blob);
                elem.download = filename;
                document.body.appendChild(elem);
                elem.click();
                document.body.removeChild(elem);
            }
        }

        function getDeployScript() {
            var OSName = "Unknown";
            if (window.navigator.userAgent.indexOf("Windows NT 10.0") != -1) OSName = "Windows";
            if (window.navigator.userAgent.indexOf("Windows NT 6.2") != -1) OSName = "Windows";
            if (window.navigator.userAgent.indexOf("Windows NT 6.1") != -1) OSName = "Windows";
            if (window.navigator.userAgent.indexOf("Windows NT 6.0") != -1) OSName = "Windows";
            if (window.navigator.userAgent.indexOf("Windows NT 5.1") != -1) OSName = "Windows";
            if (window.navigator.userAgent.indexOf("Windows NT 5.0") != -1) OSName = "Windows";
            if (window.navigator.userAgent.indexOf("Mac") != -1) OSName = "Darwin";
            if (window.navigator.userAgent.indexOf("Linux") != -1) OSName = "Linux";
            var deploylink = ''
            var deployname = ''
            if (OSName == "Windows") {
                deploylink = "https://raw.githubusercontent.com/julwrites/dev/master/deploy.bat";
                deployname = 'deploy.bat'
            }
            else {
                deploylink = "https://raw.githubusercontent.com/julwrites/dev/master/deploy.sh";
                deployname = 'deploy.sh'
            }

            httpGet(deploylink, (data) => {
                save(deployname, data);
            })
        }
    </script>


    <center>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
    </center>

    <script src="main.js"></script>
</head>

<header>
    <center>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description"
            content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

        <p>
            <a class="link" href="{{ site.baseurl }}/">Home</a> |
            <a class="link" href="{{ site.baseurl }}/bio/">Bio</a> |
            <a class="link" href="{{ site.baseurl }}/projects">Projects</a>
        </p>
    </center>
</header>

<body>
    <h1>
        Hi, I'm Julian
    </h1>
</body>

<footer>
    <center>
        <a href="http://git.tehj.org">
            <img class="img-icon" src="/files/images/github.png" alt="Github" />
        </a>
        <a href="http://job.tehj.org">
            <img class="img-icon" src="/files/images/linkedin.png" alt="Linkedin" />
        </a>
        <a href="mailto:contact@tehj.org">
            <img class="img-icon" src="/files/images/email.png" alt="Contact" />
        </a>

        <br>

        <span>
            <script>document.write(new Date().getFullYear());</script>
        </span>
        <span>&copy;</span>

        <a href="{{ site.baseurl }}">{{ site.name }}</a>
    </center>
</footer>

<foot>
    <center>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </center>
</foot>

</html>