---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import ProjectListing from '../components/ProjectListing.astro';
---

<Layout title="tehj.io">
  <main class="flex flex-col gap-[var(--content-spacing)] max-w-[1200px] w-full mx-auto px-4 sm:px-0">
    <Intro />
    
    <h2 class="section-title text-[30px] font-medium text-center m-0">Projects</h2>
    <ProjectListing />
  </main>
</Layout>

<style>
</style>
