---
import { SITE_TITLE, SITE_BASEPATH } from '../consts';
---

---
import { SITE_TITLE, SITE_BASEPATH } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
  <div class="header-content">
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <nav>
      <HeaderLink href={`${SITE_BASEPATH}/`}>Home</HeaderLink>
      <HeaderLink href={`${SITE_BASEPATH}/projects/`}>Projects</HeaderLink>
      <HeaderLink href={`${SITE_BASEPATH}/blog/`}>Blog</HeaderLink>
      <HeaderLink href="https://github.com/julwrites" target="_blank">GitHub</HeaderLink>
    </nav>
  </div>
</header>

<style>
  header {
    margin-bottom: 2em;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  h2 {
    margin: 0;
  }
  
  h2 a {
    text-decoration: none;
    color: inherit;
  }
  
  @media (min-width: 768px) {
    .header-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    nav {
      margin: 0;
    }
  }
</style>
