---
---

<header>
  <div class="header-content flex flex-col md:flex-row gap-2 md:gap-0 justify-between items-center">
    <h2>Julian Teh</h2>
    <nav class="flex justify-center md:justify-end m-0">
      <a href="/" class={Astro.url.pathname === '/' ? 'active' : ''}>Home</a>
      <a href="/projects" class={Astro.url.pathname.startsWith('/projects') ? 'active' : ''}>Projects</a>
      <a href="/blog" class={Astro.url.pathname.startsWith('/blog') ? 'active' : ''}>Blog</a>
      <a href="https://github.com/julwrites" target="_blank">GitHub</a>
    </nav>
  </div>
</header>

<style>
  header {
    margin-bottom: 2em;
  }
  
  h2 {
    margin: 0;
  }
</style>
