---
---

<section class="intro">
  <h1>Hi, I'm Julian</h1>
  <img src="/assets/images/photos/2.jpg" alt="Photo of me" />
  <p>Welcome to my domain</p>
</section>

<style>
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--content-spacing);
    padding: 10px;
    border: 1px solid var(--disabled-font-color);
    border-radius: 10px;
    margin: 0 auto;
  }

  h1 {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }

  img {
    max-width: 256px;
    width: 100%;
  }

  p {
    font-size: 25px;
    margin: 0;
    text-align: center;
  }
</style>
