---
---

<div class="links-container">
  <div class="links-section">
    <p>Work</p>
    <div class="icons">
      <a href="https://github.com/julwrites/julwrites.github.io/raw/master/assets/resume/Resume_Julian_Teh.pdf" target="_blank">
        <img src="/assets/images/dark/resume.png" alt="Resume" />
      </a>
      <a href="https://linkedin.com/in/julwrites" target="_blank">
        <img src="/assets/images/dark/linkedin.png" alt="LinkedIn" />
      </a>
    </div>
  </div>
  
  <div class="links-section">
    <p>Play</p>
    <div class="icons">
      <a href="https://github.com/julwrites" target="_blank">
        <img src="/assets/images/dark/github.png" alt="Github" />
      </a>
      <a href="https://www.tehj.io/blog" target="_blank">
        <img src="/assets/images/dark/blog.png" alt="Blog" />
      </a>
    </div>
  </div>
</div>

<style>
  .links-container {
    display: flex;
    gap: var(--footer-spacing);
    justify-content: center;
  }

  .links-section {
    display: flex;
    flex-direction: column;
    gap: var(--footer-spacing);
    align-items: center;
    padding: 10px;
    border: 1px solid var(--disabled-font-color);
    border-radius: 10px;
  }

  .icons {
    display: flex;
    gap: var(--footer-spacing);
    justify-content: center;
  }

  .icons img {
    width: 33px;
    height: 33px;
  }

  p {
    margin: 0;
    text-align: center;
  }
</style>
