---
---

<div class="links-container">
  <div class="links-section card">
    <p>Work</p>
    <div class="icons">
      <a href="https://github.com/julwrites/julwrites.github.io/raw/master/assets/resume/Resume_Julian_Teh.pdf" target="_blank" title="Resume">
        <img src="/assets/images/dark/resume.png" alt="Resume" />
      </a>
      <a href="https://linkedin.com/in/julwrites" target="_blank" title="LinkedIn">
        <img src="/assets/images/dark/linkedin.png" alt="LinkedIn" />
      </a>
    </div>
  </div>
  
  <div class="links-section card">
    <p>Play</p>
    <div class="icons">
      <a href="https://github.com/julwrites" target="_blank" title="GitHub">
        <img src="/assets/images/dark/github.png" alt="Github" />
      </a>
      <a href="https://www.tehj.io/blog" target="_blank" title="Blog">
        <img src="/assets/images/dark/blog.png" alt="Blog" />
      </a>
    </div>
  </div>
</div>

<style>
  .links-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--footer-spacing);
    justify-content: center;
  }

  .links-section {
    display: flex;
    flex-direction: column;
    gap: var(--footer-spacing);
    align-items: center;
    padding: 15px;
  }

  .icons {
    display: flex;
    gap: var(--footer-spacing);
    justify-content: center;
  }

  .icons img {
    width: 33px;
    height: 33px;
    transition: transform 0.2s ease;
  }
  
  .icons a:hover img {
    transform: scale(1.1);
  }

  p {
    margin: 0;
    text-align: center;
    font-weight: 500;
  }
</style>
