---
---

<section class="projects">
  <div class="project-section">
    <h2>Self</h2>
    <a href="https://github.com/julwrites/ScriptureBot" target="_blank">
      <img src="/assets/images/projects/scripturebot.png" alt="ScriptureBot" />
    </a>
    <a href="https://github.com/julwrites/cash-register" target="_blank">
      <img src="/assets/images/projects/cashregister.png" alt="Cash-Register" />
    </a>
  </div>

  <div class="project-section">
    <h2>School</h2>
    <a href="http://games.digipen.edu/games/bibbb" target="_blank">
      <img src="/assets/images/projects/BIBBB_1.jpg" alt="BIBBB" />
    </a>
    <a href="http://games.digipen.edu/games/flowline" target="_blank">
      <img src="/assets/images/projects/Flowline_1.jpg" alt="Flowline" />
    </a>
    <a href="http://games.digipen.edu/games/shortcircuit" target="_blank">
      <img src="/assets/images/projects/ShortCircuit_1.jpg" alt="Short Circuit" />
    </a>
  </div>
</section>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    gap: var(--content-spacing);
    padding: 10px;
    border: 1px solid var(--disabled-font-color);
    border-radius: 10px;
    margin: 0 auto;
  }

  .project-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }

  a img {
    height: 128px;
    object-fit: contain;
  }
</style>
