---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import ContentList from '../../components/ContentList.astro';
import { sortPostsByDate } from '../../utils/post';

// Get all project posts sorted by date
const projects = await getCollection('projects');
const sortedProjects = sortPostsByDate(projects);
---

<Layout title="Projects | tehj.io">
  <main class="page-content">
    <h1 class="page-title">Projects</h1>
    <ContentList items={sortedProjects} collection="projects" />
  </main>
</Layout>
