
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


div {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

svg {
    height:100%;
    width:70%;
}

text {
    fill: black;
    cursor: pointer;
}